@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@600;800&family=Fraunces:opsz,wght@9..144,700;9..144,900&display=swap");
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
}

body {
  max-width: 1440px;
  margin: 0 auto;
  font-size: 20px;
  font-family: "Barlow", sans-serif;
  font-weight: 600;
}

.main-header {
  background-image: url("/images/desktop/image-header.jpg");
  height: 800px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 40px 65px;
  position: relative;
}
.main-header .head-wrapper {
  width: 100%;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.main-header .head-wrapper .logo-title {
  color: white;
  font-family: "Barlow", sans-serif;
  font-weight: 800;
  letter-spacing: 1px;
  font-size: 40px;
}
.main-header .head-wrapper .nav-menu a {
  text-decoration: none;
  color: white;
  padding: 0 20px;
  margin-left: 13px;
  font-size: 18px;
}
.main-header .head-wrapper .nav-menu a.contact-link {
  text-transform: uppercase;
  color: black;
  font-family: "Fraunces", serif;
  font-weight: 600;
  border-radius: 30px;
  background-color: white;
  padding: 18px;
  font-size: 15px;
}
.main-header .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 150px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.main-header .title .main-title {
  color: white;
  font-family: "Fraunces", serif;
  font-weight: 900;
  letter-spacing: 9px;
  font-size: 70px;
  text-transform: uppercase;
}
.main-header .title .arrow {
  position: absolute;
  bottom: 80px;
}
.main-header .title .arrow span {
  display: block;
  width: 40px;
  height: 40px;
  border-bottom: 8px solid #ffffff;
  border-right: 8px solid #ffffff;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  margin: -10px;
  -webkit-animation: animate 2s infinite;
          animation: animate 2s infinite;
}
.main-header .title .arrow span:nth-child(2) {
  -webkit-animation-delay: -0.2s;
          animation-delay: -0.2s;
}
.main-header .title .arrow span:nth-child(3) {
  -webkit-animation-delay: -0.4s;
          animation-delay: -0.4s;
}
@-webkit-keyframes animate {
  0% {
    opacity: 0;
    -webkit-transform: rotate(45deg) translate(-20px, -20px);
            transform: rotate(45deg) translate(-20px, -20px);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: rotate(45deg) translate(20px, 20px);
            transform: rotate(45deg) translate(20px, 20px);
  }
}
@keyframes animate {
  0% {
    opacity: 0;
    -webkit-transform: rotate(45deg) translate(-20px, -20px);
            transform: rotate(45deg) translate(-20px, -20px);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: rotate(45deg) translate(20px, 20px);
            transform: rotate(45deg) translate(20px, 20px);
  }
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.container .item-txt {
  width: 50%;
  text-align: left;
  padding: 0 130px;
}
.container .item-img {
  width: 50%;
  height: 100%;
}
.container .item-img img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.container .adv-title {
  font-family: "Fraunces", serif;
  font-weight: 900;
  font-size: 38px;
  margin-bottom: 20px;
  padding-right: 50px;
}
.container .adv-description {
  opacity: 60%;
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 25px;
}
.container .btn {
  font-family: "Fraunces", serif;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 17px;
}
.container .btn .btn-yellow {
  position: relative;
}
.container .btn .btn-yellow::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: -9px;
  width: 140px;
  border-bottom: #ffd401 solid 10px;
  border-radius: 10px;
  opacity: 40%;
  z-index: -2;
}
.container .btn .btn-yellow:hover::after {
  z-index: -1;
  opacity: 100%;
}
.container .btn .btn-red {
  position: relative;
}
.container .btn .btn-red::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: -9px;
  width: 140px;
  border-bottom: #ff7d6d solid 10px;
  border-radius: 10px;
  opacity: 40%;
  z-index: -2;
}
.container .btn .btn-red:hover::after {
  z-index: -1;
  opacity: 100%;
}
.container .desc-design {
  background-image: url("/images/desktop/image-graphic-design.jpg");
  width: 66%;
  height: 550px;
  background-size: auto;
  position: relative;
}
.container .desc-photo {
  background-image: url("/images/desktop/image-photography.jpg");
  width: 66%;
  height: 550px;
  background-size: auto;
  position: relative;
}
.container .desc-content {
  position: absolute;
  width: 100%;
  bottom: 5%;
  text-align: center;
  padding: 0 170px;
}
.container .desc-content .desc-title {
  font-family: "Fraunces", serif;
  font-weight: 900;
  opacity: 60%;
  margin-bottom: 20px;
}
.container .desc-content .desc-txt {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 25px;
  opacity: 60%;
}

.testimonials-title {
  width: 100%;
  text-align: center;
  font-family: "Fraunces", serif;
  text-transform: uppercase;
  opacity: 45%;
  font-size: 20px;
  letter-spacing: 3px;
  margin: 140px 0 80px 0;
}

.client {
  padding: 0 35px;
  text-align: center;
  width: 50%;
  margin-bottom: 140px;
}
.client .client-img {
  border-radius: 50%;
  height: 70px;
  width: 70px;
  margin-bottom: 40px;
}
.client .client-recomendation {
  opacity: 65%;
  font-size: 18px;
  margin-bottom: 40px;
  line-height: 1.5;
}
.client .client-name {
  font-family: "Fraunces", serif;
  font-size: 18px;
  margin-bottom: 8px;
}
.client .position-desc {
  opacity: 40%;
  font-size: 14px;
}

.img-gallery img {
  width: 400px;
  height: 400px;
}

.container-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 300px;
  background-color: #9FDCCD;
}
.container-social .logo-title {
  opacity: 60%;
  font-size: 30px;
  margin-bottom: 30px;
}

.links {
  margin-bottom: 60px;
}
.links .link {
  opacity: 40%;
  color: #000;
  text-decoration: none;
  padding: 0 20px;
  font-size: 18px;
}
.links .link:hover {
  color: white;
  opacity: 100%;
}

.social-icons .fa-brands {
  opacity: 40%;
  padding: 0 10px;
  cursor: pointer;
}
.social-icons .fa-brands.fa-brands:hover {
  color: white;
  opacity: 100%;
}/*# sourceMappingURL=style.css.map */