.main-header {
  background-image: url("/images/desktop/image-header.jpg");
  height: 800px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 40px 65px;
  position: relative;

  .container {
    justify-content: space-between;

    .logo .nav-toggle {
      display: none;
      position: absolute;
      top: 40px;
      right: 45px;
    }

    .logo-title {
      color: white;
      font-family: $font-main;
      font-weight: $font-bold;
      letter-spacing: 1px;
      font-size: 40px;
    }

    .head-wrapper a {
      text-decoration: none;
      color: white;
      padding: 0 20px;
      margin-left: 13px;
      font-size: 18px;

      &.contact-link {
        text-transform: uppercase;
        color: black;
        font-family: $font-title;
        font-weight: $font-light;
        border-radius: 30px;
        background-color: white;
        padding: 18px;
        font-size: 15px;
      }
    }
  }

  .title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
    flex-direction: column;

    .main-title {
      color: white;
      font-family: $font-title;
      font-weight: $font-extra-bold;
      letter-spacing: 9px;
      font-size: 70px;
      text-transform: uppercase;
    }

    .arrow {
      position: absolute;
      bottom: 80px;
    }
    .arrow span {
      display: block;
      width: 40px;
      height: 40px;
      border-bottom: 8px solid #ffffff;
      border-right: 8px solid #ffffff;
      transform: rotate(45deg);
      margin: -10px;
      animation: animate 2s infinite;
    }
    .arrow span:nth-child(2) {
      animation-delay: -0.2s;
    }
    .arrow span:nth-child(3) {
      animation-delay: -0.4s;
    }
    @keyframes animate {
      0% {
        opacity: 0;
        transform: rotate(45deg) translate(-20px, -20px);
      }
      50% {
        opacity: 1;
      }
      100% {
        opacity: 0;
        transform: rotate(45deg) translate(20px, 20px);
      }
    }
  }

  .active {
    display: block;
  }
}

@media (max-width: 1300px) and (min-width: 1000px) {
  .main-header .title .main-title {
    font-size: 50px;
  }
}

@media all and (max-width: 720px) {
  .main-header {
    padding: 20px 45px;

    .container {
      flex-direction: column;
      align-items: flex-start;

      .logo .nav-toggle {
        display: block;
      }

      .logo .logo-title {
        margin-bottom: 20px;
      }

      .head-wrapper a {
        display: block;
        text-align: center;
        margin: 0 auto;
        padding: 15px 0;
        color: black;
        opacity: 60%;
        font-size: 20px;
      }

      .head-wrapper a.contact-link {
        max-width: 150px;
        margin: 15px auto;
        opacity: 100%;
        background-color: #ffd602;
        font-size: 18px;
      }
    }

    nav {
      display: none;
      width: 100%;
      height: 150%;
      padding: 20px 0;
      margin: 20px 0;
      background-color: #ffffff;
      position: relative;
    }

    nav:before {
      content: "";
      width: 0;
      height: 0;
      position: absolute;
      border-left: 15px solid transparent;
      border-right: 15px solid #ffffff;
      border-top: 15px solid transparent;
      border-bottom: 15px solid #ffffff;
      right: 0;
      top: -29px;
    }
  }
}
