.container {
  display: flex;
  align-items: center;

  .item-txt {
    width: 50%;
    text-align: left;
    padding: 0 130px; // zmniejszyc na posredniej rozdzielczosci
  }

  .item-img {
    width: 50%;
    height: 100%;
  }

  .item-img img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .adv-title {
    font-family: $font-title;
    font-weight: $font-extra-bold;
    font-size: 38px;
    margin-bottom: 20px;
    padding-right: 50px;
  }

  .adv-description {
    opacity: 60%;
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 25px;
  }

  .btn {
    font-family: $font-title;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 17px;

    .btn-yellow {
      position: relative;
    }

    .btn-yellow::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: -9px;
      width: 140px;
      border-bottom: #ffd401 solid 10px;
      border-radius: 10px;
      opacity: 40%;
      z-index: -2;
    }

    .btn-yellow:hover::after {
      z-index: -1;
      opacity: 100%;
    }

    .btn-red {
      position: relative;
    }

    .btn-red::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: -9px;
      width: 140px;
      border-bottom: #ff7d6d solid 10px;
      border-radius: 10px;
      opacity: 40%;
      z-index: -2;
    }

    .btn-red:hover::after {
      z-index: -1;
      opacity: 100%;
    }
  }

  .desc-design {
    background-image: url("/images/desktop/image-graphic-design.jpg");
    width: 66%;
    height: 550px;
    background-size: cover;
    position: relative;
  }

  .desc-photo {
    background-image: url("/images/desktop/image-photography.jpg");
    width: 66%;
    height: 550px;
    background-size: cover;
    position: relative;
  }

  .desc-content {
    position: absolute;
    width: 100%;
    bottom: 5%;
    text-align: center;
    padding: 0 170px;

    .desc-title {
      font-family: $font-title;
      font-weight: $font-extra-bold;
      opacity: 60%;
      margin-bottom: 20px;
    }

    .desc-txt {
      font-size: 18px;
      line-height: 1.5;
      margin-bottom: 25px;
      opacity: 60%;
    }
  }
}

@media (max-width: 1300px) and (min-width: 1000px) {
  .container .adv-title {
    font-size: 30px;
  }

  .container .adv-description {
    font-size: 15px;
  }

  .btn {
    font-size: 15px;
  }

  .container .desc-content {
    padding: 0 100px;
  }
}
