@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@600;800&family=Fraunces:opsz,wght@9..144,700;9..144,900&display=swap");

// font-family: 'Fraunces', serif;

$font-main: "Barlow", sans-serif;
$font-title: 'Fraunces', serif;

$font-light: 600;
$font-bold: 800;
$font-extra-bold: 900;